<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
  <div class="ws_images">
    <ul>
  <% @hearingconferences.each do |conference| %>
      <li><img src="<%=conference.photo.cover_photo.url%>" alt="<%=conference.title%>" title="<%=conference.title%>" id="wows1_<%=conference.id-1%>"/><%=conference.description%></li>
      <% end %>
    </ul>
  </div>
  <div class="ws_bullets"><div>
  <% @hearingconferences.each do |conference| %>
    <a href="#" title="<%=conference.title%>"><img src="<%=conference.photo.cover_photo.url%>" alt="台灣公聽會 資訊百老匯"/><%=conference.id%></a>
      <% end %>
  </div></div>
  <div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
<script type="text/javascript">
$("#wowslider-container1").wowSlider({effect:"domino",prev:"",next:"",duration:20*100,delay:20*100,width:1024,height:350,autoPlay:true,stopOnHover:false,loop:false,bullets:true,caption:true,captionEffect:"slide",controls:true,onBeforeStep:0,images:0});
</script>
 <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="display:relative">
        <div class="col-md-3">
          <img src="../assets/war.png" class="img-responsive" style="width:80%;">
        </div>
        <div class="col-md-9" style="height:150px;">
          <div class="conference_title"><strong>戰況激烈</strong><div class="conference_subtitle">熱門公聽會</div></div>
        </div>
      </div>

     <div class="row">
      <% @hearingconferences.each do |conference| %>
  
          <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">          
            <%= link_to image_tag(conference.photo.show), conference,  class: 'img-circle' %>
              <h4><%= conference.title %></h4>
              <h6><%= conference.happen_date %></h6>
              <p><%= conference.description %></p>
              <ul class="tags" >
              <% conference.tags.each do |tag| %>
                <li><a class="tag"><%= tag %></a></li>
              <% end %>
              </ul>

          </div>
      <% end %>
    </div>

      <br>
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/article.png" style=width:80%>
        </div>
        <div class="col-md-9" style="height:150px;">
          <div class="conference_title"><strong>戰況分析</strong><div class="conference_subtitle">焦點專文區</div></div>
        </div>
      </div>

       <div class="row">
      <% @posts.each do |post| %>

        <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1">          
            <%= link_to image_tag(post.cover_photo), post, class: 'img-circle' %>
            <h4><%= post.title %></h4>
            <p><%= post.description %></p>
        </div>
      <% end %>
       </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
