    <title>台灣公聽會，資訊百老匯─個人頁面</title>
<style type="text/css">
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
	padding-top: 60px;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 微軟正黑體;
}
    
.sidebar{
    float: left;
    position: fixed;
    padding: 10px;
}

.content{
    margin-left: 220px;
    padding: 10px;
}

.follow{
    text-align: center;
    padding: 5px;
    font-size: 1em;
    width: 100px;
    height: 40px;
    background: #cc0000;
    color: white;
    border: none;
    font-weight: bold;
}

.follow:hover{
    background: #ff3333;
}

.following{
    text-align: center;
    padding: 5px;
    font-size: 1em;
    width: 100px;
    height: 40px;
    background: #cf304b;
    color: white;
    border: none;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 2px black inset;
}

ul {
    list-style: none;
    line-height: 2em;
    margin-bottom: 1em;
    color: grey;
}

.btn, .leftbar {
    border-bottom: 1px solid grey;
    text-align: center;
}

.username h3 {
	font-size: 2em;
	line-height: 150%;
}

.profilephoto img{
	height: 100px;
	width: 100px;
}

.leftbar {
	width: 100px;
}

.leftbar a {
	font-size: 1.2em;
	line-height: 3em;
}

.leftbar a:hover {
	text-decoration: none;
	background-color: #808080;
    color: black;
}

.pagename {
	font-size: 2em;
	font-weight: bold;
}

.articletitle {
	line-height: 200%;
}

.articlecontent {
	text-decoration: none;
}

.post_article a {
	font-size: 20px;
}
.post_article a:after {
	color : rgb(254,254,254);
}

.btn {
	background-color: #c12727;
}

.articlecontent span {
	text-decoration: none;
	font-size: 20px;
}

.leftbar:hover{
    border-left: 3px solid #ff3333;
    background: grey;
}

.post_article{
    padding-top: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid grey;
}
</style>

      <div class="sidebar">
      
          <div class="profilephoto">
  			  <%= image_tag(@user.image) %>
          </div>
          <div class="username">
              <h3><%= @user.name %></h3>
          
          </div>
          <% if (!current_user.following?(@user) && current_user.id != @user.id) %><span><%= button_to "+Follow", { action: "follow", id: current_user.id, user_id: @user.id }, class: "follow" %></span>
          <% elsif (current_user.following?(@user) && current_user.id != @user.id) %>
          <%= button_to "Folllowing", { action: "unfollow", id:current_user.id, user_id: @user.id }, class: "following"  %>
          <% end %>
          <ul>
          
              <li class="leftbar" ><a href="ph_profile_history.html">觀點發表紀錄</a></li>
              <li class="leftbar" ><a href="ph_profile_following.html">following</a>
              	<ul>
              	<% @users.each do |user| %>
					<li class="leftbar" ><%= link_to user.name, user_page_path(user.id) %></li>
			  	<% end %>
			  	</ul>
			  </li>
          </ul>
      
      </div>
      <div class="content">

          <h1 class="pagename">觀點發表紀錄</h1>
			<% @posts.each do |post| %>
          <div class="post_article">
          
              <div class="time"><%= post.created_at.strftime("%F") %></div>
              <div class="btn btn-info"><%= link_to post.hearing_conference.title, hearing_conference_path(post.hearing_conference_id) %></div>
			  <h2 class="articletitle"><%= link_to post.title, post %></h2>
              <div class="articlecontent"><%= raw(post.content).truncate(100, :separator => " ").html_safe %>
              	<span text-align="right"><%= link_to "繼續閱讀→", post%></span></div>
          
          </div>
		<% end %>
      </div>


<div class="row">
<% @hearingconferences.each do |hearingconference| %>
  <div class="col-xs-10 col-sm-5 col-sm-offset-1 col-md-3 col-lg-3 pin_space">
	<h2 class="text-center"><%= link_to hearingconference.title, hearingconference %></h2>
	<%= link_to image_tag(hearingconference.photo, class: "img-responsive img-thumbnail"), hearingconference %>
  </div>
<% end %>
</div>