       <div class="row">
      	<% @posts.each do |post| %>
        <div class="col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-1 for_hover">
          <a href="<%=post_path(post)%>">
            <%= image_tag(post.cover_photo, class: 'img-rounded') %>
            <h4><%= post.title %></h4>
 	        <div class="btn btn-info"><%= link_to post.hearing_conference.title, hearing_conference_path(post.hearing_conference_id) %></div>
            <p><%= post.description %></p>
          </a>
        </div>
      	<% end %>
       </div>