<p id="notice"><%= notice %></p>
<div style="margin-top:60px;"></div>
<h1><%= @post.user.name %></h1>
<%= raw(@post.content) %>

<%= link_to 'Edit', edit_hearing_conference_post_path(@post.hearing_conference_id,@post.id) %> |
<%= link_to 'Back', posts_path %>
