<style type="text/css">
  .tag{
    background-color: #0099CC;
  }
</style>
<%= simple_form_for(@hearing_conference) do |f| %>
  <% if @hearing_conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hearing_conference.errors.count, "error") %> prohibited this hearing_conference from being saved:</h2>

      <ul>
      <% @hearing_conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :happen_date %><br>
    <%= f.date_select :happen_date %>
  </div>
  <div class="field">
    <%= f.input :photo %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :wiki %><br>
    <%= f.text_area :wiki %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= f.input :tag_list, :input_html => { :id => 'tags_1', :data => { :role => 'tagsinput' }}, :label => "標籤" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#tags_1').tagsinput('item');
  });
</script>